.menubar1 {
    background: #2d323c;
    height: 100vh;
    text-align: center;
}

.menubar2 {
    background: #282c34;
    height: 100vh;
}

.nav-item:hover {
    background: gainsboro !important;
}

input[type=search] {
    color: #d2c5c5 !important;
}

input[type=search]::placeholder {
    color: #d2c5c5;
}

a {
    color: darkgrey !important
}

hr {
    background: darkgrey !important
}

a:hover {
    border-bottom: 1px solid darkgrey !important;
}

.userActive {
    color: #4CAF50
}

textarea{
    resize: none;
}
.contentBody{
    height: 60vh;
     overflow-y: scroll; 
}