.menubar1 {
    background: #2d323c;
    height: 100vh;
    text-align: center;
}

.menubar2 {
    background: #282c34;
    height: 100vh;
}

.nav-item:hover {
    background: gainsboro !important;
}

input[type=search] {
    color: #d2c5c5 !important;
}

input[type=search]::placeholder {
    color: #d2c5c5;
}

a {
    color: white !important
}

hr {
    background: darkgrey !important
}


.userActive {
    color: #4CAF50
}

textarea {
    resize: none;
}

.contentBody {
    height: 60vh;
    overflow-y: auto;
}

.contentListGroup {
    height: 30vh;
    overflow-y: auto;
    background: #282c34;
}

.contentListUsers {
    height: 40vh;
    overflow-y: auto;
    background: #282c34;
}

@media screen and (max-width:899px) {
    .contentListUsers {
        height: 33vh;
    }
}